html{
    background-color: rgb(247, 247, 247);
}



#titlequestion{
    color: darkblue;
    text-align: center;
}

.inspotext{
    color: black;
    text-align: center;
;
}

.aboutus{
    position: relative;
}

.infoonus{
    text-align: left;
width: 280px;}


a{
    color: black;
    text-decoration: none;
}

.otherpages{
    display: flex;
    flex-direction: row;
    flex: wrap;
    justify-content: space-between;
    
}

.page2{
    background-color: rgb(52, 54, 165);
    height: 80px;
    width: 200px;
    border: 2px solid black;
    text-decoration: underline;
    text-align: center;
    color: black;
    

}

.page3{
    background-color: rgb(42, 57, 228);
    height: 300px;
    width: 300px;
    border: 2px solid black;
    text-align: center;
    text-decoration: underline;
}
.page4{
    background-color: rgb(79, 102, 228);
    height: 80px;
    width: 200px;
    border: 2px solid black;
    text-align: center;
    text-decoration: underline;
}

    
.card{
    place-items: center;
    position: sticky;
    justify-content: space-evenly;
    bottom: 1%;
}