#header{background-color:lavender;
color: rgb(82, 82, 190);
border:3px darkcyan;
border-style:dashed;
position: fixed;
width: 1416.5px;
height: 80x;
text-align: center;}

#header2{background-color: lavender;
    color: rgb(138, 43, 226,0.8);
    width: fit-content;
    position: fixed;
    font-size:x-small;
    border: 1px,blueviolet;
    border-style: groove;
    font-family:Verdana, Geneva, Tahoma, sans-serif}

body{background:url(https://media.istockphoto.com/id/1130070387/vector/pink-color-vector-background.jpg?s=612x612&w=0&k=20&c=XkXlxa5sFrl50X4n8IjQ6dZMk0-u0t15ICQpOkYGzow=);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;

}
#header3{background-color: aliceblue;
    color: rgb(0, 0, 0,0.5);
    width: 1000px;
    height: 500px;
    position: fixed;
    border:4px rgb(128, 0, 128,1);
    border-style: dashed;

}