html{
    background-color: lightblue;
}

nav ul{
    list-style: none;
    background-color: rgb(155, 155, 240);
    height: 25px;
    padding: 10px;
    margin-bottom: 40px;
}

nav ul li{
display: inline-block;
}

nav ul li a{
    display: inline-block;
    text-decoration: none;
    color: whitesmoke;
margin-right: 50px;
text-align: center;
}

#header{
    background-color:white;
    color: black;
    border: 2px blue;
    width: 150px;
    border-style: dashed;
position: fixed;
text-align: center;
margin-left: 43%;
margin-right: 50%;
}

#titlequestion{
    color: darkblue;
    text-align: center;
}

#text{
    margin-left: 56%;
    text-align: left 100px;
}